.fullPost {
  padding: 24px 91.5px 25px;
  font-size: 22px;
  border-radius: 0;
  p {
    margin-bottom: 13px;
    font-size: 17px;
  }
}
.title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}
.userInfo {
  display: flex;
  align-items: center;
  margin-top: 30px;

  justify-content: space-between;
  img {
    height: 40px;
    width: 40px;
    border-radius: 8px;
  }
  b {
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
  }
  span {
    font-size: 16px;
    color: #2ea83a;
    font-weight: 500;
  }
}
