.row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  img {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-right: 10px;
  }
  b {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
  }
  span {
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    line-height: 16px;
  }
}
.titleText {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  b {
    margin-bottom: 2px;
  }
}

.button {
  width: 40px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.7;
  margin-top: 7px;
}

.buttonDots {
  margin: 0;
  padding: 0;
  margin-top: 7px;
  opacity: 0.5;
  left: -7px;
}
