html,
body,
ul {
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none;
  font-family: Roboto, -apple-system, sans-serif;
  outline: none;
  text-decoration: none;
  list-style: none;
  color: black;
}

body {
  background: #f2f2f2;
}

.contentRow {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.postRow {
  &--full {
    width: 100%;
    justify-content: start;
  }
}



.main-layout-white {
  background-color: #fff !important;
  height: 100vh;
}
